body {
  display: flex;
  justify-content: center;
  /* min-height: 100vh; */
  font-family: "outfit", sans-serif;
}
.container {
  display: flex;
  width: 900%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;

}
.card {
  color: white;
  padding: 40px;
}
.card p {
  margin-top: 40px;
  margin-bottom: 60px;
}
.card-container{
  padding: 40px;
}
.card-1 {
  background: hsl(31, 77%, 52%);
}
.card-2 {
  background: hsl(184, 100%, 22%);
}
.card-3 {
  background: hsl(179, 100%, 13%);
}
.btn-1 {
color: hsl(31, 77%, 52%);
}
.btn-2 {
  color: hsl(184, 100%, 22%);
}
.btn-3 {
  color: hsl(179, 100%, 13%);
}
button {
  padding: 15px;
  width: 120px;
  border: 2px solid;
  border-radius: 50px;
  background: white;


}
button:hover { 
  background: transparent;
  color: #fff;
  transition: all 0.5s;
}
.white{
  color: white;
}
