body {
  display: flex;
  justify-content: center;
  /* min-height: 100vh; */
  font-family: "outfit", sans-serif;
}
.container {
  display: flex;
  width: 900%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
}

/* ამ ორს .card და .card p საერთოდ არ იყენებ HTML-ში ამიტომ შეგიძლია წაშალო ან გამოიყენო სათანადოდ */
.card {
  color: #fff;
  padding: 40px;
}
.card p {
  margin-top: 40px;
  margin-bottom: 60px;
}

/* აქ შეცდომა გქონდა უნდა გწეროდა
.card-container ნაცვლად card-container-სა იმიტომ,
რომ კლასის Selector ყოველთვის წერტილით იწყება */
.card-container {
  padding: 40px;
  /* თეთრი ფერი თუ გინდა, აქ დაწერე 
  color: white; */
}
.card-1 {
  background: hsl(31, 77%, 52%);
}
.card-2 {
  background: hsl(184, 100%, 22%);
}
.card-3 {
  background: hsl(179, 100%, 13%);
}
.btn-1 {
  color: hsl(31, 77%, 52%);
}
.btn-2 {
  color: hsl(184, 100%, 22%);
}
.btn-3 {
  color: hsl(179, 100%, 13%);
}
button {
  padding: 15px;
  width: 120px;
  /* უკეთესია Border-ს თუ აქ დააყენებ იმიტომ, რომ Hover-ის მერე კარგად გადადის */
  border: 2px solid;
  border-radius: 50px;
  background: white;
}
button:hover {
  background: transparent;
  color: #fff;
  transition: all 0.5s;
}
